<!-- ======= Contact Section ======= -->
<section id="registro" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Registrar</h2>
            <h3><span>Registro de usuarios</span></h3>
            <div class="row" data-aos="fade-up" data-aos-delay="100">

                    <a id="crear_{{ catalogo.id }}"
                       href="javascript:abrirModalCrearUsuarios('{% url 'register_user' %}')"
                       title="Registrar">
                        <span class="bi bi-plus-circle fw-300"></span>
                    </a>

            </div>
        </div>
    </div>
</section>




