<!-- ======= Team Section ======= -->
{% load static %}
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Equipo</h2>
            <h3>Nuestro equipo de trabajo <span>Team</span></h3>
            <p>Equipo desarrollador de la página.</p>
        </div>
        <div class="row">
            {% for equipo in team %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="member-img">
                         <img src="{{ equipo.ruta_foto.url}}" class="img-fluid" alt="">
                        <div class="social">
                            <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>{{equipo.nombre}} {{equipo.apellido}}</h4>
                        <span>{{equipo.cargo}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section><!-- End Team Section -->