<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Django app blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/notifications/css/toastr/toastr.css' %}" rel="stylesheet">
     <link href="{% static 'assets/vendor/notifications/css/sweetalert2/sweetalert2.bundle.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>

{% include "sections/topbar.html" %}
{% include "sections/header.html" %}

<!-------------------------------------
-------------------------------------->
{% for message in messages %}
    <div class="alert {{ message.tags }}  alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        {% if message.level == 40 %} Error!
        {% elif message.level == 25%}
        {% endif %}.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


{% include "sections/catalogo.html"  with data=data %}
{% include "sections/about.html" %}
{% include "sections/team.html" with team=team%}
{% if request.user.is_authenticated %}
    {% include "sections/perfil.html" with usuario=usuario %}
{% endif %}
{% include "sections/register.html" with data=data%}
{% include "sections/footer.html" %}
{% include 'base/_modal_confirmar_eliminar.html' with objeto='catalog' %}


<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<div class="modal fade" id="_crearEditarUsuarios" tabindex="-1" aria-labelledby="editar" aria-hidden="true"></div>


<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/notifications/js/sweetalert2/sweetalert2.bundle.js' %}"></script>
<script src="{% static 'assets/vendor/notifications/js/toastr/toastr.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action= "{% url 'login'%}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Usuario:</label>
                        <input type="text" class="form-control" id="recipient-name" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="recipient-password" name="password">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" name="submit" value="Submit" class="btn btn-primary">Send message</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>